<%- include('../header') %>
<div class="ibz-wraper pt20">
    <div class="container">
        <div class="lump">
            <div class="indexHeader">
                <span>注册成为采购商</span>
            </div>
            <div class="cgs-register">
                <div class="register">
                    <ul class="clearfix">
                        <li class="registerOk">验证手机号</li>
                        <li class="register-hr"><img src="../../Content/images/ibz13-1.png" alt=""></li>
                        <li class="registerOk">填写账号信息</li>
                        <li class="register-hr"><img src="../../Content/images/ibz13-1.png" alt=""></li>
                        <li class="register3-1">注册成功</li>
                    </ul>
                </div>
                <div class="register-form registerThree">
                    <img src="../../Content/images/alertv.png" alt="">
                    <h1>恭喜您，注册成功！</h1>
                    <p><b class="color1" id="time">5</b>秒后自动跳转至商家中心</p>
                    <a href="/">去逛逛</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../footer') %>


<script type="text/javascript">
    $(function () {
        var login = function () {
            var iPhone = /(^(13|14|15|18|17)\d{9}$)/;
            this.init = function () {
                this.wait = 5;
                this.document();
            };
            this.document = function () {
                var _this=this;
                this.wait--;
                if(!this.wait == 0){
                    $("#time").text(this.wait)
                }else {
                    location.href = "/";
                }
                setTimeout(function () {
                    _this.document()
                }, 1000)
            };
        };

        var home = new login();
        home.init();
    })
</script>