
<div class="ibz-base">
    <div class="container clearfix">
        <div class="ibz-baseFl">
            <ul class="clearfix">
                <li>
                    <dl>
                        <dt>新手指南</dt>
                        <dd><a href="">爱包装网介绍</a></dd>
                        <dd><a href="">采购商入门</a></dd>
                        <dd><a href="">供应商入门</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>采购商服务</dt>
                        <dd><a href="">服务介绍</a></dd>
                        <dd><a href="">寻找供应商</a></dd>
                        <dd><a href="">询盘发布</a></dd>
                        <dd><a href="">采购培训</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>供应商服务</dt>
                        <dd><a href="">服务介绍</a></dd>
                        <dd><a href="">找订单</a></dd>
                        <dd><a href="">企业展示</a></dd>
                        <dd><a href="">金融服务</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>帮助中心</dt>
                        <dd><a href="">服务协议</a></dd>
                        <dd><a href="">法律声明</a></dd>
                        <dd><a href="">隐私条款</a></dd>
                        <dd><a href="">联系我们</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="ibz-baseFr">
            <h1>400-920-9688</h1>
            <p>周一至周五 9:00-18:00</p>
            <a href="" class="ibz-service">在线客服</a>
        </div>
    </div>
</div>