<%- include('../header') %>

<link rel="shortcut icon" href="Content/images/title.ico" type="image/x-icon">
<link rel="stylesheet" href="Content/js/lib/swiper/css/idangerous.swiper.css">
<script src="Content/js/lib/swiper/idangerous.swiper.min.js"></script>
<script src="Content/js/lib/marquee/marquee.js"></script>
<div class="ibz-wraper">
    <!-- banner -->
    <div class="banner">
        <div class="swiper-container" id="swiper1">
            <ul class="swiper-wrapper">
                <li class="swiper-slide map1"></li>
                <li class="swiper-slide map2"></li>
            </ul>
            <div class="swiper-pagination">
                <div class="pagination" id="pagination1"></div>
            </div>
        </div>
        <div class="indexLogin">
            <% if (user) { %>
            <div class="indexLogin-top">
                <div class="indexLogin-user clearfix">
                    <div class="indexLogin-ico">
                        <img src="../../Content/images/ibz35.png" alt="">
                    </div>
                    <div class="indexLogin-username">
                        <p>hi，<%= user.name %></p>
                        <p>欢迎来到爱包装网</p>
                    </div>
                </div>
                <div class="indexLogin-btn">
                    <a href="login" class="fl">我的报价</a>
                    <span class="fl">/</span>
                    <a href="javascript:;" class="fr">我的产品</a>
                </div>
            </div>
            <% } else { %>
            <div class="indexLogin-top">
                <div class="indexLogin-user clearfix">
                    <div class="indexLogin-ico">
                        <img src="../../Content/images/ibz35.png" alt="">
                    </div>
                    <div class="indexLogin-username">
                        <p>hi，您好！</p>
                        <p>欢迎来到爱包装网</p>
                    </div>
                </div>
                <div class="indexLogin-btn">
                    <a href="login" class="fl">登录</a>
                    <span class="fl">/</span>
                    <a href="javascript:;" class="fr" id="indexLogin-register">注册</a>
                </div>
            </div>
            <% } %>
            <div class="indexLogin-bottom">
                <ul class="clearfix">
                    <li><img src="../../Content/images/ibz36.png" alt=""><p>企业认证</p></li>
                    <li><img src="../../Content/images/ibz37.png" alt=""><p>帮您找货</p></li>
                    <li><img src="../../Content/images/ibz38.png" alt=""><p>商机推荐</p></li>
                </ul>
                <p class="Tac mt15">客服热线：<span class="color1">400-920-9688</span></p>
            </div>
        </div>
    </div>

    <!-- 内容区 -->
    <div class="container mt20">
        <div class="clearfix lump">
            <div class="ibz-headlines">
                <div class="indexHeader">
                    <span>工业包装头条</span>
                </div>
                <div class="headlinesContent">
                    <div class="importantInformation">
                        <ul>
                            <li class="informationS"><a href="">爱包装最新资讯：工业用纸新一轮涨价！</a></li>
                            <li><a href="">[供应必看：“高富帅”供应商养成秘籍！]</a></li>
                            <li class="informationS"><a href="">经信委领导及专家莅临爱包装网指导工作</a></li>
                            <li><a href="">[供应必看：“高富帅”供应商养成秘籍！]</a></li>
                        </ul>
                    </div>
                    <div class="generalInformation">
                        <ul id="ibz-latestNews"></ul>
                    </div>
                </div>
            </div>
            <div class="ibz-news">
                <div class="indexHeader">
                    <span>最新动态</span>
                </div>
                <div class="newsContent">
                    <div id="newsContentOul"></div>
                </div>
            </div>
        </div>

        <div class="mt20 Inquiry">
            <div class="indexHeader">
                <span>询盘信息</span>
                <div class="fr">
                    <button class="updateBtn">换一批</button>
                    <a href="../2.enquiry/enquiryMessage.html" class="moreInquiry">查看更多 ></a>
                </div>
            </div>
            <div class="inquiryContent">
                <ul class="clearfix" id="inquiryInformation"></ul>
            </div>
        </div>

        <div class="mt20 Inquiry">
            <div class="indexHeader">
                <span>供应商区</span>
                <div class="fr">
                    <button class="updateBtn">换一批</button>
                    <a href="../2.supplierBase/supplier.html" class="moreInquiry">查看更多 ></a>
                </div>
            </div>
            <div class="supplierContent">
                <ul class="clearfix" id="supplier"></ul>
            </div>
        </div>

        <div class="mt20 bzxxTab">
            <div class="swiper-container" id="swiper2">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide"><a href="http://www.printlg.com/" target="_blank"><img src="../../Content/images/exhibition1.png" alt=""></a></li>
                    <li class="swiper-slide"><a href="http://121.41.226.59/swop/2017/visitor/preregc_1.asp?sid=M30" target="_blank"><img src="../../Content/images/exhibition2.png" alt=""></a></li>
                    <li class="swiper-slide"><a href="http://www.chinaprint.com.cn/huagang/print/index.htm" target="_blank"><img src="../../Content/images/exhibition3.png" alt=""></a></li>
                    <li class="swiper-slide"><a href="http://www.chinaprint.com.cn/huagang/print/index.htm" target="_blank"><img src="../../Content/images/exhibition3.png" alt=""></a></li>
                    <li class="swiper-slide"><a href="http://www.chinaprint.com.cn/huagang/print/index.htm" target="_blank"><img src="../../Content/images/exhibition3.png" alt=""></a></li>
                    <li class="swiper-slide"><a href="http://www.chinaprint.com.cn/huagang/print/index.htm" target="_blank"><img src="../../Content/images/exhibition3.png" alt=""></a></li>
                    <li class="swiper-slide"><a href="http://www.chinaprint.com.cn/huagang/print/index.htm" target="_blank"><img src="../../Content/images/exhibition3.png" alt=""></a></li>
                </ul>
            </div>
        </div>

        <div class="mt20 lump">
            <div class="indexHeader">
                <span>友情链接</span>
            </div>
            <div class="blogroll">
                <ul class="clearfix">
                    <li><a href="">艾录包装</a></li>
                    <li><a href="">包材商城</a></li>
                    <li><a href="">成品包装</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<%- include('../footer') %>

<div class="registerBounced">
    <div class="registerContent">
        <ul class="clearfix">
            <li class="cgsRegister-ico"><a href="register1">注册成为采购商</a></li>
            <li class="gysRegister-ico"><a href="gys-register1">注册成为供应商</a></li>
        </ul>
        <span class="removeBounced">x</span>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var index = function () {
            this.init = function () {
                this.document();
                this.news();
                this.inquiry();
                this.supplier();
            };
            //
            this.document = function () {
                //banner
                if($("#swiper1").find("li").length > 1){
                    $('#swiper1').swiper({
                        pagination: '#pagination1',
                        loop: true,
                        paginationClickable: true,
                        moveStartThreshold: 100,
                        autoplay: 5000,
                        speed: 300,
                        autoplayDisableOnInteraction: false
                    });
                }
                if($("#swiper2").find("li").length > 6){
                    $('#swiper2').swiper({
                        loop: true,
                        moveStartThreshold: 100,
                        autoplay: 5000,
                        speed: 300,
                        autoplayDisableOnInteraction: false,
                        slidesPerView : 6
                    });
                }else{
                    var expo = $("#swiper2").find("li");
                    var expoWidth = $("#swiper2").width() / expo.length;
                    expo.width(expoWidth)
                }

                //点击注册
                $("#indexLogin-register").on("click", function () {
                    $(".registerBounced").show()
                })
                $(".removeBounced").on("click", function () {
                    $(".registerBounced").hide()
                })
            };


            this.news = function () {
                //最新资讯
                for(var i=0; i<4; i++){
                    var latestNews = '<li><a target="_blank" href="./industryDynamic.html">爱包装最新资讯'+i+'</a><span class="fr color9">2017-04-31</span></li>';
                    $("#ibz-latestNews").append(latestNews)
                }

                //最新动态
                for (var i = 0; i <= 7; i++) {
                    var news = '<ul><li><p class="ensconce">'+i+'分钟前, 中国 上海 的采购商发布了一个 阀口袋阀口袋阀口袋阀口袋阀口袋阀口袋阀口袋阀口袋 询盘 ,</p></li></ul>';
                    $("#newsContentOul").append(news);
                }
                $(".newsContent").myScroll({
                    speed: 50, //数值越大，速度越慢
                    rowHeight: 30 //tr的高度
                });
            };

            //询盘信息
            this.inquiry = function () {
                for(var i=0; i<6; i++){
                    var inquiryOli = '<li>'+
                        '<div class="inquiryIco">'+
                        '<img src="../../Content/images/ibz28.png" alt="">'+
                        '</div>'+
                        '<h1>手提袋'+i+'</h1>'+
                        '<p>求购：<span>100件</span></p>'+
                        '<div class="hr"></div>'+
                        '<a href="../2.enquiry/enquiryDetailsTest.html" class="inquiryQuote">报价</a>'+
                        '</li>';
                    $("#inquiryInformation").append(inquiryOli);
                }
            };

            //供应商
            this.supplier = function () {
                for(var i=0; i<8; i++){
                    var inquiryOli = '<li>'+
                        '<a href="../2.supplierBase/supplierDetails.html">'+
                        '<div class="supplierIco">'+
                        '<img src="../../Content/images/z.png" alt="">'+
                        '</div>'+
                        '<div class="supplierFont">'+
                        '<h1>上海艾录包装股份有限公司</h1>'+
                        '<p>主要工艺：<span>工业包装, 塑料制品</span></p>'+
                        '<p>工厂面积：<span>500-1,000 ㎡</span></p>'+
                        '<p>雇员数量：<span>20-50</span></p>'+
                        '<p>企业所在地：<span>上海</span></p>'+
                        '<div class="supplierHint">2 小时前企业档案被浏览</div>'+
                        '</div>'+
                        '</a></li>';
                    $("#supplier").append(inquiryOli);
                }
            };
        };

        var home = new index();
        home.init();
    })
</script>