<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>爱包装-行业资讯</title>
    <link rel="shortcut icon" href="../../Content/images/title.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../Content/css/ibz-style.css">
    <link rel="stylesheet" href="../../Content/css/common.css">
    <link rel="stylesheet" href="../../Content/css/index.css">
    <script src="../../Content/js/lib/jquery/jquery-1.10.2.min.js"></script>
</head>

<body>
    <div class="ibz-header">
        <div class="container clearfix">
            <div class="ibz-logo">
                <a href="../0.Portal/index.html" class="db">
                    <img src="../../Content/images/logo.png" alt="">
                </a>
            </div>
            <div class="ibz-seek clearfix">
                <div class="fl">
                    <div class="ibz-seekInput">
                        <div class="ibz-seekType">
                            <span>产品</span>
                            <ul>
                                <li>产品</li>
                                <li>公司</li>
                            </ul>
                        </div>
                        <input type="text">
                    </div>
                    <button class="ibz-seekBtn"></button>
                </div>
                <a href="../2.enquiry/rapidRelease.html" class="fl ml20 ibz-button1">快速发布询盘</a>
            </div>
        </div>
        <div class="ibz-navbar">
            <div class="container clearfix">
                <div class="fl navbar">
                    <ul class="clearfix">
                        <li><a href="../0.Portal/index.html">首页</a></li>
                        <li><a href="../2.enquiry/enquiryMessage.html">询盘信息</a></li>
                        <li><a href="../2.supplierBase/supplier.html">供应商库</a></li>
                        <li><a href="#">产品库</a></li>
                        <li><a href="#">资料库</a></li>
                        <li><a href="#">包印商城</a></li>
                    </ul>
                </div>
                <div class="fr">
                    <div class="ibz-UserLi">
                        <a href="../3.cgs-mycenter/corporateCenter.html" class="ibz-User">用户名</a>
                        <a href="../1.member/login.html" class="ibz-Out">退出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--中间-->
    <div class="ibz-wraper pt20">
        <div class="container">
            <div class="industry_L">
                <h2>B2B跨境电商引领实体经济变革升级</h2>
                <div class="Dynamic_tally">
                    <ul class="clearfix">
                        <li>标签：热门精选</li>
                        <li>时间：2016-06-24</li>
                        <li class="clearfix"><span class="fl">分享：</span>
                            <div class="Dynamic_share fl">
                                <div class="bdsharebuttonbox">
                                    <a href="#" class="bds_more" data-cmd="more"></a>
                                    <a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
                                    <a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
                                    <a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
                                    <a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a>
                                    <a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="Dynamic_essay">
                    <p>当前，中国经济处于“新常态”历史机遇期，经济增速放缓。然而，随着“一带一路”、“中国制造2025”、创新驱动、供给 侧改革等国家战略与政策的纷纷出台。传统电商的发展模式无法跟上B2B时代的需求，需要创新型跨境电来迎合新形势、新需求，顺应时代的发展。</p>
                    <p>众所周知，实体经济的发展是多方面的。从产品线到营销渠道,从商业模式到品牌战略都将决定着实体经济或优或劣。而构成实体经的基础是大宗商品等国家物资以及与之密切相关的工业制造业，倘若中国在这方面具备竞争力，那么中国实体经济将具备竞争力。二B2B 跨境电商对优化经济发展、促进产业结构调整等，将起到重要的推动作用。同时，创新跨境电商应该成为涵盖整个实体经济产业链发展的跨境电商平台，才能帮助实体经济全方位赢得发展契机。但目前，在众多B2B跨境电商平台中，并未从产业链的角度来扶持实体经济的发展。</p>
                    <p>眼下，备受关注的聚贸跨境电商就是创新型跨境电商，将全面呈现出生态化发展的“生命力”，促进实体经济蓬勃发展。聚贸 作为全球首家全品类大宗商品及工业全产业跨境电商平台，以产业链思维创新商业模式与服务体系，整合全球资源，帮助工业制造企业快速实现转型升级，已引起了国内外合作方与媒体的高度关注。因此，聚贸跨境电商相较于钢铁类、塑料类等单品类BEB商业模式，有着更为明显的竞争优势。</p>
                </div>
                <div class="clearfix DynameicPaging">
                    <div class="fl">上一篇：<a href="javascript:;"></a></div>
                    <div class="fr">下一篇：<a href="javascript:;"></a></div>
                </div>
                <div class="Dynamic_disclaimer">
                    <p>【免责声明】</p>
                    <p>1、爱包装网发布此信息目的在于传播更多信息，与本网站立场无关。</p>
                    <p>2、爱包装网不保证该信息（包括但不限于文字、数据及图表）全部或者部分内容的准确性、真实性、完整性、有效性、 及时性、原创性等。 </p>
                    <p>3、相关信息并未经过本网站证实，不对您构成任何投资建议，据此操作，风险自担。</p>
                    <p>4、如有侵权请直接书面发函至本公司转达、处理。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ibz-base">
        <div class="container clearfix">
            <div class="ibz-baseFl">
                <ul class="clearfix">
                    <li>
                        <dl>
                            <dt>新手指南</dt>
                            <dd><a href="">爱包装网介绍</a></dd>
                            <dd><a href="">采购商入门</a></dd>
                            <dd><a href="">供应商入门</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>采购商服务</dt>
                            <dd><a href="">服务介绍</a></dd>
                            <dd><a href="">寻找供应商</a></dd>
                            <dd><a href="">询盘发布</a></dd>
                            <dd><a href="">采购培训</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>供应商服务</dt>
                            <dd><a href="">服务介绍</a></dd>
                            <dd><a href="">找订单</a></dd>
                            <dd><a href="">企业展示</a></dd>
                            <dd><a href="">金融服务</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>帮助中心</dt>
                            <dd><a href="">服务协议</a></dd>
                            <dd><a href="">法律声明</a></dd>
                            <dd><a href="">隐私条款</a></dd>
                            <dd><a href="">联系我们</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="ibz-baseFr">
                <h1>400-920-9688</h1>
                <p>周一至周五 9:00-18:00</p>
                <a href="" class="ibz-service">在线客服</a>
            </div>
        </div>
    </div>
</body>
<script>
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdMini": "2",
            "bdPic": "",
            "bdStyle": "0",
            "bdSize": "16"
        },
        "share": {}
    };
    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    $(document).ready(function(){
        if($(".DynameicPaging").children(".fl").children("a").html() == ""){
            $(".DynameicPaging").children(".fl").html("已经到第一篇啦")
        }
        if($(".DynameicPaging").children(".fr").children("a").html() == ""){
            $(".DynameicPaging").children(".fr").html("已经到最后一篇啦")
        }
        
    })
</script>

</html>