/* 首页 */

.banner {
    height: 350px;
    overflow: hidden;
    position: relative;
}
.banner #swiper1, .banner #swiper1 ul, .banner #swiper1 ul li, .banner #swiper1 ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}
#pagination1 {
    display: inline;
}
span.swiper-pagination-switch {
    padding: 0px 8px;
    background: url("../images/ibz3-1.png") no-repeat center;
}
span.swiper-active-switch {
    background: url("../images/ibz3.png") no-repeat center;
}
li.map1 {background: transparent url(../images/banner1.jpg) no-repeat scroll center center;}
li.map2 {background: transparent url(../images/banner2.jpg) no-repeat scroll center center;}
.indexLogin{
    position: absolute;
    top:10px;
    right: 20%;
    height: 330px;
    width:280px;
    border:5px solid rgba(250,250,250,0.5);
    background: #fff;
    border-radius: 5px;
}
.indexLogin-top{
    width:100%;
    height: 175px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.indexLogin-user {
    margin-bottom: 20px;
}
.indexLogin-user .indexLogin-ico{
    width:80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    float: left;
}
.indexLogin-username{
    float: left;
    height: 80px;
    padding: 15px 0 0 15px;
    max-width: 145px;
}
.indexLogin-username p{
    margin: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    color: #000;
}
.indexLogin-btn{
    height: 35px;
    width:100%;
    padding: 5px;
    background: #b81c22;
    border-radius: 5px;
}
.indexLogin-btn a{
    display: block;
    color: #fff;
    text-align: center;
    width:48%;
    line-height: 25px;
}
.indexLogin-btn span{
    display: block;
    width:2%;
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-size: 20px;
}
.indexLogin-bottom {
    padding: 20px;
}
.indexLogin-bottom ul li{
    width:33%;
    text-align: center;
    color: #000;
    float: left;
}
.indexLogin-bottom ul li p{
    margin-top: 10px;
}
.registerBounced{
    display: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.5);
    z-index: 60;
}
.registerBounced .registerContent{
    position: fixed;
    top:50%;
    left: 50%;
    width:400px;
    height: 240px;
    margin: -120px 0 0 -200px;
    background: #fff;
    border-radius: 6px;
    line-height: 360px;
    overflow: hidden;
}
.registerBounced .registerContent ul li{
    width:50%;
    text-align: center;
    height: 100%;
    float: left;
}
li.cgsRegister-ico{background: url("../images/ibz33.png") no-repeat center 50px;}
li.cgsRegister-ico:hover{background: url("../images/ibz33-1.png") no-repeat center 50px;}
li.gysRegister-ico{background: url("../images/ibz34.png") no-repeat center 50px;}
li.gysRegister-ico:hover{background: url("../images/ibz34-1.png") no-repeat center 50px;}
.registerBounced .registerContent ul li:hover a{
    color: #b81c22;
}
.registerBounced .registerContent ul li a{
    display: block;
    width:100%;
    height: 100%;
    color: #000;
    font-size: 14px;
    cursor: pointer;
}
.removeBounced{
    position: absolute;
    top:0;
    right: 0;
    display: block;
    width:20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    color: #999;
    cursor: pointer;
}
.removeBounced:hover{
    color: #777;
}



.lump{
    border: 1px solid #e0e0e0;
    background: #fff;
}
.ibz-headlines{
    float: left;
    width: 745px;
    *width: 710px;
    padding-right: 15px;
    border-right: 1px dashed #e0e0e0;
}
.headlinesContent{
    height: 238px;
    padding-left: 360px;
    background: url("../images/ibz4.png") no-repeat left center;
}
.importantInformation{
    padding: 3px 0;
    border-bottom: 1px dashed #ddd;
}
.headlinesContent .importantInformation ul li{
    line-height: 28px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.generalInformation{
    padding: 3px 0;
}
.headlinesContent .generalInformation ul li{
    height: 28px;
    line-height: 28px;
    padding-left: 20px;
    background: url("../images/ibz5.png") no-repeat center left;
    color: #444;
}
.headlinesContent .generalInformation ul li a{
    float: left;
    display: block;
    max-width: 250px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.headlinesContent a:hover{
    color: #b81c22;
    text-decoration: underline;
}
.informationS a{
    font-size: 14px;
    color: #b81c22;
    font-weight: 600;
}
.ibz-news{
    float: right;
    width:453px;
    padding-left: 15px;
}
.indexHeader {
    height:60px;
    line-height: 60px;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 20px;
    overflow: hidden;
}
.indexHeader span{
    font-size: 18px;
    color: #000;
}
.indexHeader a.hide{
    display: none;
}
.newsContent{
    height: 220px;
    overflow: hidden;
    margin-top: 10px;
}
.newsContent ul li{
    height:30px;
    line-height: 30px;
}

.Inquiry{
    background: #fff;
}
.Inquiry .indexHeader{
    border:1px solid #e0e0e0;
}
.updateBtn{
    border:1px solid #dcdcdc;
    width: 85px;
    height:30px;
    line-height: 30px;
    background: #fff;
    color: #666;
    padding: 0 10px;
    text-align: right;
    background: url("../images/ibz6.png") no-repeat 10px center;
    border-radius: 1px;
    cursor: pointer;
    margin-right: 10px;
}
.moreInquiry {
    color: #999;
    font-size: 14px;
}
.moreInquiry:hover{
    color: #b81c22;
}
.inquiryContent, .supplierContent{
    width:100%;
    border-right: 1px solid #e0e0e0;
}
.inquiryContent ul li, .supplierContent ul li{
    border-left:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
    width:25%;
    padding-bottom: 30px;
    text-align: center;
    float: left;
    *margin-left: -1px;
}
.inquiryContent ul li:last-child, .supplierContent ul li:last-child{
    box-shadow: 1px 0 #e0e0e0;
}
.supplierContent ul li:hover h1{
    /*width:99%;*/
    color: #b81c22;
    text-decoration: underline;
}
.inquiryContent ul li .inquiryIco, .supplierContent ul li .supplierIco{
    width:100%;
    height: 190px;
    line-height: 190px;
    *display: block;
    *font-size: 175px;
    *font-family:Arial;
}

.inquiryContent ul li .inquiryIco img, .supplierContent ul li .supplierIco img{
    max-width: 90%;
    max-height: 90%;
}
.inquiryContent ul li h1{
    font-size: 15px;
    margin:0;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 40px;
}
.inquiryContent ul li p{
    color: #999;
    margin-top: 10px;
}
.inquiryContent ul li .hr{
    width:80%;
    height:1px;
    margin:25px auto;
    background: #e0e0e0;
}
.inquiryContent ul li .inquiryQuote{
    display: block;
    width:100px;
    height:32px;
    line-height: 32px;
    border:1px solid #b81c22;
    text-align: center;
    margin: 0 auto;
    color: #b81c22;
    border-radius: 3px;
}
.inquiryContent ul li .inquiryQuote:hover{
    background: #b81c22;
    color: #fff;
}
.supplierContent ul li a{
    display: block;
}
.supplierFont{
    text-align: left;
    padding-left: 20px;
}
.supplierFont h1{
    font-size: 16px;
    font-weight:400;
    margin: 0 0 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.supplierFont p{
    color: #999;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.supplierFont p span{
    color: #666;
}
.supplierHint{
    color: #999;
    margin-top: 10px;
    padding-left: 22px;
    text-align: left;
    background: url("../images/ibz8.png") no-repeat center left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bzxxTab{
    width:100%;
    height:80px;
    line-height: 80px;
    text-align: center;
    background: #fff;
    border: 1px solid #e0e0e0;
}
.bzxxTab #swiper2, .bzxxTab #swiper2 ul{
    height:80px;
}
.bzxxTab #swiper2 ul li{
    width: 16%;
    height: 100%;
    line-height: 80px;
    *font-size: 70px;
}
.bzxxTab #swiper2 ul li a{
    display: block;
    height:100%;
    padding: 0 3px;
}
.bzxxTab #swiper2 ul li img{
    max-width: 100%;
    max-height: 100%;
}

.blogroll{
    padding:20px;
}
.blogroll ul li {
    float: left;
    height:40px;
    line-height: 40px;
    margin:0 15px;
}
.blogroll ul li a:hover{
    color: #b81c22;
}

/*登录*/
.ibz-login{
    height: 605px;
    overflow: hidden;
    background: transparent url("../images/member1.jpg") repeat scroll center center;
}
.login{
    position: absolute;
    top:114px;
    right: 50px;
    width: 376px;
    background: #fff;
    box-shadow: 0px 0px 2px #fff;
}
.loginTop{
    height:57px;
    line-height: 57px;
    border-bottom: 2px solid #c4c4c4;
}
.loginTop ul li{
    float: left;
    width:50%;
    height:57px;
    line-height: 57px;
    font-size: 17px;
    color: #666;
    text-align: center;
    cursor: pointer;
}
.loginTop ul li.loginOn{
    color: #b81c22;
    border-bottom: 2px solid #b81c22;
}
.loginFromMode{
    padding: 38px 25px;
}
.loginFromInp{
    border:1px solid #c4c4c4;
    padding: 7px 0;
    position: relative;
}
.mobileIco{
    float: left;
    width:40px;
    height:30px;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid #c4c4c4;
    *font-size:28px;
}
.memberInp{
    float: left;
    width:280px;
    *width:262px;
    height:30px;
    line-height: 30px;
    background: #fff;
    padding:0 10px;
    border:0px !important;
}
.testGetCode{
    position: absolute;
    top: 8px;
    right: 10px;
    display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    background: #f1f1f1;
    text-align: center;
    border: 0px;
    cursor: pointer;
}
.memberBtn{
    width:100%;
    height: 48px;
    line-height: 48px;
    background: #b81c22;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.verificationIco{
    position: absolute;
    top: 3px;
    right: 10px;
    width: 100px;
    height: 38px;
    line-height: 38px;
    text-align: right;
}
.verificationIco img{
    max-width: 100%;
    max-height: 100%;
}
/*采购商注册*/
.cgs-register{
    padding: 45px 300px;
}
.register{
    height: 32px;
    line-height: 32px;
    width: 600px;
    margin: 0 auto;
}
.register ul li{
    float: left;
    font-size: 13px;
    margin: 0 10px;
}
li.registerOk{padding-left: 40px;background: url("../images/member.png") no-repeat left center;}
li.register1{padding-left: 40px;background: url("../images/member1.png") no-repeat left center;}
li.register2{padding-left: 40px;background: url("../images/member2.png") no-repeat left center;}
li.register2-1{padding-left: 40px;background: url("../images/member2-1.png") no-repeat left center;}
li.register3{padding-left: 40px;background: url("../images/member3.png") no-repeat left center;}
li.register3-1{padding-left: 40px;background: url("../images/member3-1.png") no-repeat left center;}
.register-form{
    width:440px;
    *width:455px;
    margin:50px auto;
}
.register-form .memberLabel{
    float: left;
    width:120px;
    font-size: 14px;
    text-align: right;
    height: 35px;
    line-height: 35px;
    margin-right: 20px;
}
.register-form .memberLabel span{
    font-size: 12px;
}
.register-form input.registerInp1{
    float: left;
    width:300px;
    height: 35px;
    line-height: 35px;
    padding:0 6px;
    border-radius: 3px;
}
.registerInp2{
    float: left;
    width:190px;
    *width:180px;
    height: 35px;
    line-height: 35px;
    padding:0 6px;
    border-radius: 3px;
}
.registerVerification{
    float: right;
    width:100px;
    height:35px;
    line-height: 35px;
    text-align: center;
}
.registerVerification img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}
.registerBtn1{
    width:100%;
    height:35px;
    background: #b81c22;
    text-align: center;
    color: #fff;
    border:0px;
    font-size: 12px;
}
.registerBtn2{
    width:300px;
    *width:314px;
    height:35px;
    line-height: 35px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
    background: #b81c22;
}
.registerBtn2:hover{
    background:#d4050d;
}
.registerBtn2:active{
    background: #b81c22;
}
.registerSelect1{
    width:140px;
    height: 35px;
    line-height: 35px;
    border:1px solid #e0e0e0;
    padding: 0 6px;
}
.registerSelect2{
    width:300px;
    height: 35px;
    line-height: 35px;
    border:1px solid #e0e0e0;
    padding: 0 6px;
}
.registerThree{
    text-align: center;
}
.registerThree img{
    margin: 10px 0;
}
.registerThree h1{
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
}
.registerThree a{
    display: block;
    width:120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background: #b81c22;
    margin: 40px auto 0;
    border-radius: 3px;
}
.registerThree a:hover{
    background:#d4050d;
}
.registerThree a:active{
    background: #b81c22;
}

.register-form label.error{
    position: absolute;
    top: 1px;
    right: 8px;
    padding: 0 8px;
    line-height: 33px;
    *line-height:35px;
    color: #c33;
    cursor: text;
    background: #fff;
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),#fff 8px);
    background: linear-gradient(to right,rgba(255,255,255,0),#fff 8px);
    visibility: hidden;
    opacity: 0;
    -ms-filter: "alpha(Opacity=0)";
    -webkit-transform: translate(20px,0);
    -ms-transform: translate(20px,0);
    transform: translate(20px,0);
    -webkit-transition: .25s ease-out;
    transition: .25s ease-out;
}

.register-form label.error.is-visible {
    visibility: visible;
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}

/* 供应商库 */
.ibz-maxIco{
    height: 350px;
    width:100%;
    overflow: hidden;
}
.ibz-maxIco img{
    width: 100%;
    height:100%;
}
.supplierTab{
    background: #fff;
}
.supplierTabHead {
    border: 1px solid #e0e0e0;
    font-size: 14px;
    overflow: hidden;
}
.supplierTabHead ul li{
    float: left;
    padding: 16px 0;
    cursor: pointer;
}
.supplierTabHead ul li span{
    display: block;
    padding: 0 35px;
    height: 25px;
    line-height: 25px;
    border-right: 1px solid #c5bfbf;
}
.supplierTabHead ul li.supplierTabOn{
    color: #b81c22;
    border-bottom: 1px solid #b81c22;
}
.supplierTabHead ul li:hover{
    color: #b81c22;
}

/*供应商详情*/
.supplierFirm{
    height: 240px;
    background: #d3a45e;
    overflow: hidden;
}
.supplierLogo{
    float: left;
    width:240px;
    text-align: center;
    line-height: 240px;
    *font-size:215px;
}
.supplierLogo img{
    max-width: 175px;
    max-height: 175px;
}
.supplierName {
    float: left;
    padding-top: 60px;
}
.supplierName h1{
    font-size: 26px;
    margin-bottom: 17px;
    color: #fff;
}
.ibz-Vip{
    display: block;
    width:140px;
    *width:100px;
    height:36px;
    line-height: 36px;
    padding: 0 20px;
    font-size: 17px;
    color: #fff;
    text-align: right;
}
.diamondVip{
    background: #ab803f url("../images/ibz11-1.png") no-repeat 20px center;
}
.supplierMessage{
    padding:15px;
}
.supplierMessage h1{
    font-size: 14px;
    margin:15px 0 5px 0;
    padding-left: 1em;
    background: url("../images/ibz12.png") no-repeat center left;
    font-family: "黑体";
}
.supplierMessage p{
    padding-left: 1.3em;
    line-height: 20px;
    color: #222;
}
.supplierMessage ul{
    width:50%;
    padding-left: 1.3em;
    line-height: 20px;
    color: #222;
}
.supplierMessage ul li{
    float: left;
    width:50%;
    text-align: left;
}

/*产品信息*/
.product{
    padding: 1em;
}
.productIco{
    float: left;
    width:200px;
}
.productIcoHead{
    width:200px;
    height: 200px;
    overflow: hidden;
    text-align: center;
    line-height: 200px;
    background: #ededed;
}
.productIcoHead img{
    max-width: 100%;
    max-height: 100%;
}
.productIcoBody{
    margin-top: 20px;
    width:200px;
}
.productIcoBody ul li{
    float: left;
    width:55px;
    height: 55px;
    *width:52px;
    *height: 52px;
    margin:0 5px;
    background: #ededed;
    border: 2px solid #fff;
}
.productIcoBody ul li img{
    width:100%;
    height: 100%;
}
li.productIcoOn{
    border: 2px solid #5f5f5f !important;
}
.productDetails{
    float: left;
    margin-left: 30px;
}
.productDetails ul li{
    margin:8px 0;
    line-height: 20px;
}
.productDetails ul li span.property-type{
    display: block;
    float: left;
    width:90px;
    font-size: 12px;
    color: #666;
    text-align: right;
}
.productDetails ul li .property-cont{
    float: left;
    text-align: left;
    margin-left: 20px;
    max-width:800px;
    color: #111;
}
#contactSupplier{
    padding: 0 20px;
}

/*采购商--个人中心 - 企业中心*/
.centerMenu{
    width:260px;
    background: #fff;
    border:1px solid #e0e0e0;
    float: left;
    color: #000;
}
.centerUser{
    width:100%;
    /*height: 290px;*/
    overflow: hidden;
    text-align: center;
    padding: 30px 0;
}
.centerUser img{
    width:120px;
    height: 120px;
}
.centerUser h1{
    font-size: 20px;
    margin: 20px 0 12px;
}
.authenticationUser{
    display: block;
    width:80px;
    height: 20px;
    line-height: 20px;
    color: #3766bc;
    font-size: 14px;
    text-align: right;
    background: url("../images/ibz15.png") no-repeat left center;
    margin: 0 auto;
}
.centerUser p{
    margin-top: 12px;
}
.menuTab ul li{
    width:100%;
    height: 45px;
    *height: 42px;
    line-height: 45px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    font-size: 14px;
}
.menuTab ul li a{
    display: block;
}
.menuTab ul li.centerMenuOn a, .menuTab ul li:hover a{
    background: #7595d4;
    color: #fff;
}
.centerContent{
    float: right;
    width:920px;
    color: #000;
}
.inquiryState{
    padding: 30px 0;
}
.inquiryState ul li{
    width: 25%;
    *width: 24%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    float: left;
}
.borderR{
    border-right: 1px solid #e0e0e0;
}
.inquiryStep{
    width:100%;
    height: 140px;
    line-height: 140px;
    text-align: center;
    background: #fff;
    border:1px solid #e0e0e0;
}

/*采购商 - 个人中心 - 所有询盘*/
.allInquiry{
    border-bottom: 1px solid #e0e0e0;
    height: 50px;
}
.allInquiry ul li{
    width:120px;
    text-align: center;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    float: left;
}
.allInquiry ul li:hover, .allInquiry ul li.allInquiryOli{
    border-bottom: 1px solid #ff0000;
}
.allInquiryNull{
    height: 450px;
    *height:250px;
    background: url("../images/kl1.png") no-repeat 35% center;
    *background: url("../images/kl1.png") no-repeat 30% center;
    padding: 170px 0 0 250px;
    text-align: center;
}
.allInquiryNull > div{
    display: inline-block;
    *display: inline;
}
.ibz-null{
    height: 450px;
    line-height: 450px;
    background: url("../images/kl1.png") no-repeat 40% center;
    padding: 0px 0 0 200px;
    text-align: center;
}
.accountDataOli{
    border-bottom: 1px solid #e0e0e0;
    padding: 37px 0;
}
.accountData{
    padding-left: 60px;
    float: left;
}
.accountData1{background: url("../images/ibz18.png") no-repeat 20px center;}
.accountData2{background: url("../images/ibz19.png") no-repeat 20px center;}
.accountData3{background: url("../images/ibz20.png") no-repeat 20px center;}
.accountData h1{
    font-size: 18px;
    color: #000000;
    font-weight: 400;
}
.notSet-ico{
    font-size: 12px;
    color: #e42f36;
    padding: 1px 0 0 20px;
    margin-left: 5px;
    background: url("../images/ibz21.png") no-repeat left center;
}
.accountDataLink {
    float: right;
    padding-top: 8px;
}
.allInquiryTable tr{
    border-bottom: 1px solid #dcdcdc;
}
.allInquiryTable tr td{
    padding: 20px 0 40px 20px !important;
}
.allInquiryTable tr td p{
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.allInquiryTable tr td p.examineRemark{
    position: absolute;
    max-width: 800px;
}
.allInquiryTable tr:last-child{
    border:none;
}

/*采购商 - 个人中心 - 企业档案*/
.enterpriseArchives{
    padding: 10px;
}
h1.ibz-title{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #000;
}
h1.ibz-title span{
    font-size: 12px;
}
.enterpriseArchives p{
    color: #666;
    line-height: 22px;
    font-size: 14px;
}

/* 供应商-企业档案 */
.gysFirmUpload{
    float: left;
    width: 110px;
}
.firmLogo{
    width:110px;
    height: 110px;
    line-height: 110px;
    overflow: hidden;
    text-align: center;
    border:1px solid #e0e0e0;
}
.firmLogo img{
    max-width: 100%;
    max-height: 100%;
}
.gysFirmMessage{
    float: right;
    width:680px;
    line-height: 20px;
    font-size: 13px;
    color: #666;
}
ul.gysFirmForm li{
    width:50%;
    float: left;
    margin: 10px 0;
    line-height: 35px;
}
ul.gysFirmForm li label{
    height:35px;
    line-height: 35px;
    width:90px;
    text-align: left;
    display: block;
    float: left;
    color: #666;
}
ul.gysFirmForm li input, ul.gysFirmForm li select{
    width:270px;
    *width:236px;
    height: 35px;
    line-height: 35px;
    *height:33px;
    border:1px solid #e0e0e0;
    padding:0 6px;
    color: #666;
    float: left;
}
.ibz-inputData{
    /*background: url("../images/ibz2.png") no-repeat 240px center;*/
    *width:236px !important;
    padding: 8px 6px !important;
    *line-height: 16px !important;
    *height: 16px !important;
}
.certificateOul li{
    position: relative;
    width:110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    overflow: hidden;
    float: left;
    margin:0 5px;
    border:1px solid #e0e0e0;
}
.certificateOul li img{
    max-height: 100%;
    max-width: 100%;
}
.certificateRemove{
    position: absolute;
    top:0px;
    right: 0px;
    display: block;
    width:20px;
    height:20px;
    background: url("../images/ibz31.png") no-repeat center;
    cursor: pointer;
}

/*行业资讯文章*/
.industry_L{
    background: #fff;
    padding: 40px 0;
}
.industry_L h2 {
    font-size: 20px;
    color: #e6272d;
    text-align: center;
    *margin:20px 0;
}

.Dynamic_tally {
    text-align: center;
    margin: 15px 0;

}

.Dynamic_tally ul {
    display: inline-block;
    *margin:0 auto;
    *width: 63%;
}

.Dynamic_tally ul li {
    float: left;
    margin: 0 25px;
    color: #555;
    height: 30px;
    line-height: 28px;
}
.Dynamic_share{
    display: inline-block;
}
.Dynamic_essay{
    border-top: 1px solid #f3f3f3;
    width: 90%;
    margin: 0px auto;
    padding: 20px 0;
}
.Dynamic_essay p{
    text-indent: 2em;
    line-height: 24px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
}
.DynameicPaging{
    margin: 15px 0;
    color: #555;
    width: 90%;
    margin: 0 auto 30px;
}
.DynameicPaging a{
    color: #999;
}
.DynameicPaging a:hover{
    color: #e6272d;
}
.Dynamic_disclaimer{
    background: #fafafa;
    padding: 20px 40px;
}

/* 注册协议 */
.protocol {
    background: #fff;
    padding: 20px;
}
.protocol h1 {
    text-align: center;
    color: #c3181f;
    font-size: 25px;
    margin: 20px 0 40px;
}
.protocol h3 {
    text-align: left;
    font-size: 16px;
    margin: 10px 0;
}
.protocol p {
    text-indent: 2em;
    font-size: 14px;
    line-height: 25px;
    margin: 0px;
    text-align: justify;
    color: #555;
}

/**/